<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>View Quizzes</title>
</head>
<body>
    <h1>Quizzes</h1>
    <ul>
        {% for quiz in quizzes %}
            <li>
                Quiz ID: {{ quiz.quiz_id }}
                <a href="{{ url_for('quiz', quiz_id=quiz.quiz_id) }}">View Quiz</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('teacher_dashboard') }}">Back to Dashboard</a>
</body>
</html>